{% extends 'main/base.html' %}
{% block content %}
<form method="post">
{% csrf_token %}
<div class="mb-3">
<div class="mb-3">
    <label for="{{ form.content.id_for_label }}" class="form-label">内容</label>
    {{ form.content.errors }}
    <textarea name="{{ form.content.name }}" id="{{ form.content.id_for_label }}"
    class="form-control" rows="5">{{ form.content.value|default:"" }}</textarea>
</div>

<div class="mb-3 form-check">
    <input type="checkbox" name="is_anonymous" id="id_is_anonymous" class="form-check-input">
    <label for="id_is_anonymous" class="form-check-label">
        匿名で投稿する
    </label>
    <div class="form-text">他のユーザーに名前が表示されません</div>
</div>

<button type="submit" class="btn btn-primary">投稿する</button>
</form>
{% endblock content %}